<div id="address">
	<div class="form-group">
	    <%= f.label t(:city), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :city, :class => 'form-control' %>
	    </div>
  	</div>
	<div class="form-group">
	    <%= f.label t(:zipcode), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :zipcode, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <%= f.hidden_field :_destroy %>
	      <%= link_to "Excluir endereço", '#',:onclick => "remove_address(this)", :class => 'btn btn-default' %>
	    </div>
  	</div>
</div>
