<%= render :partial => "shared/errors", :locals => {:errors => @provider.errors} %>

<%= form_for @provider, :html => { :class => "form-horizontal"} do |f| %>

	<div class="form-group">
	    <%= f.label t(:first_name), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :first_name, autofocus: true, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:last_name), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :last_name, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:contact), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :contact, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:image), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.file_field :image, :class => 'form-control' %>
	    </div>
  	</div>
	<div class="form-group">
	    <%= f.label t(:age), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.number_field :age, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:profession), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :profession, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
  		<%= f.label t(:experience), :class => 'control-label col-lg-2' %>
  		<div class="col-lg-10">
	      <%= f.text_area :experience, :class => 'form-control' %>
	    </div>
  	</div>

  	<%= f.fields_for :addresses  do |a| %>
	    <div class="form-group">
		    <%= a.label t(:city), :class => 'control-label col-lg-2' %>
		    <div class="col-lg-10">
		      <%= a.text_field :city, :class => 'form-control' %>
		    </div>
	  	</div>
	  	<div class="form-group">
		    <%= a.label t(:zipcode), :class => 'control-label col-lg-2' %>
		    <div class="col-lg-10">
		      <%= a.text_field :zipcode, :class => 'form-control' %>
		    </div>
	  	</div>
    <% end %>


	<div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <%= f.submit t('links.save'), :class => 'btn btn-primary' %>
	      <%= link_to t('links.cancel'), root_path, :class => 'btn btn-default' %>
	    </div>
  	</div>

<% end %>