 <% content_for :meta_tag do %>
  <title>Himeneu - <%= @provider.full_name %></title>
  <meta name="description" content="<%= @provider.experience %>">
  <meta name="keywords" content="<%= @provider.profession_list.join(' ,') %>">
  <meta property="og:image" content="<%= @provider.image_url(:regular) %>" />
  <meta property="og:url" content="<%= provider_url(@provider) %>"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@_himeneu" />
  <meta name="twitter:title" content='Himeneu - <%= @provider.full_name %>' />
  <meta name="twitter:description" content="<%= @provider.full_name %>" />
  <meta name="twitter:image" content="<%= @provider.image_url(:regular) %>" />
  <meta name="twitter:url" content="<%= provider_url(@provider) %>" />
<% end %>


<!-- Modal -->
<div class="modal fade"
     id="estimatesModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="estimatesModalLabel"
     data-param= <%=@provider.slug  %>
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="estimatesModalLabel">Descrição Orçamento</h4>
      </div>
      <form ng-controller="EstimateCtrl" ng-submit="save()">
        <div class="modal-body">
         <wysiwyg textarea-id="description"
                  textarea-class="form-control"
                  textarea-height="150px"
                  textarea-name="textareaDescription"
                  textarea-required
                  ng-model="estimate.description"
                  enable-bootstrap-title="true" >
         </wysiwyg>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('links.close') %></button>
          <input type="submit" id="submit" class="btn btn-primary" value="<%= t('links.save') %>" />
        </div>
       </form>
    </div>
  </div>
</div>
<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-md-9 margin30">
      <div class="row">
        <div class="col-sm-5 margin30">
          <div class="detail-img-col">
            <a href="<%= @provider.image_url(:regular) %>" class="show-image lazy" data-original="<%= @provider.image_url(:regular) %>">
              <%= image_tag(@provider.image_url(:regular)) %>
            </a>
            <div class="divide15"></div>
            <ul class="list-inline top-social">
              <% unless @provider.facebook.blank? %>
                <li>
                  <%= link_to @provider.facebook , :target => "_blank", class: "" do %>
                    <i class="fa fa-facebook"></i>
                  <% end %>
                </li>
              <% end %>
              <% unless @provider.instagram.blank? %>
                <li>
                  <%= link_to @provider.instagram , :target => "_blank", class: "" do %>
                    <i class="fa fa-instagram"></i>
                  <% end %>
                </li>
              <% end %>
              <% unless @provider.twitter.blank? %>
                <li>
                  <%= link_to @provider.twitter , :target => "_blank", class: "" do %>
                    <i class="fa fa-twitter"></i>
                  <% end %>
                </li>
              <% end %>
              <% unless @provider.website.blank? %>
               <li>
                  <%= link_to @provider.website , :target => "_blank",class: "" do %>
                    <i class="fa fa-external-link"></i>
                  <% end %>
               </li>
              <% end %>
            </ul>
          </div>
        </div><!--product detail img col end-->

        <div class="col-sm-7">
          <div class="detail-content-right">
            <h3 class="title">
                <%= @provider.full_name %>
            </h3>

            <ul class="list-inline rating-list">
              <li><i class="fa fa-star yellow"></i></li>
              <li><i class="fa fa-star yellow"></i></li>
              <li><i class="fa fa-star yellow"></i></li>
              <li><i class="fa fa-star gray"></i></li>
              <li><i class="fa fa-star gray"></i></li>
              <li class="review">
                <a href="#review">(<%= @provider.recommendations.count %> Recomendação)</a>
              </li>
            </ul>
            <p>
              <%= @provider.experience %>
            </p>
              <hr>
              <ul class="list-unstyled product-feautres-list">
                <li><i class="fa fa-check"></i> <%= @provider.age %> Anos de experiência</li>
                <li><i class="fa fa-check"></i> made in Usa</li>
                <li><i class="fa fa-check"></i> 30 day Money back</li>
              </ul>
              <hr>

              <div class="add-cart">
                  <div class="input-group bootstrap-touchspin" style="">
                      <div class="input-group bootstrap-touchspin" style=""><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-down" type="button">-</button></span><span class="input-group-addon bootstrap-touchspin-prefix"></span><input type="text" class="form-control input-qty text-center" value="1"><span class="input-group-addon bootstrap-touchspin-postfix"></span><span class="input-group-btn"><button class="btn btn-default bootstrap-touchspin-up" type="button">+</button></span></div>
                  </div><!--bootstrap touchspin end-->
                  <button class="btn btn-theme-bg"><%= t(:estimate) %></button>
              </div>
          </div>
        </div>
      </div><!--product details up end-->
      <hr>
      <% unless @provider.video_url.blank? %>
        <div class="row">
          <div class="col-md-12 margin30">
            <div class="row">
              <div class="col-md-12">
                <h3 class="heading">
                    Video Promocional
                </h3>
              </div>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="<%= @provider.video_url %>"></iframe>
            </div>
          </div>
        </div>
      <% end %>

        <!--review and details-->
        <div class="tabs" id="review">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Description</a></li>
            <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Reviews (1)</a></li>
          </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="tab-desc animated fadeInDown">

                        <h4>Product Description</h4>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
                        </p>
                    </div>

                </div>
                <div class="tab-pane" id="profile">
                    <div class="tab-desc animated fadeIn">

                        <div class="margin40">
                            <h5>1 review for Men's Check shirt</h5>
                            <div class="review-box">
                                <img src="img/team-1.jpg" alt="" class="img-responsive">
                                <div class="review-content">

                                    <ul class="list-inline rating-list">
                                        <li class="admin-detail"><span><strong>Admin</strong> - March 10, 2015</span></li>
                                        <li><i class="fa fa-star yellow"></i></li>
                                        <li><i class="fa fa-star yellow"></i></li>
                                        <li><i class="fa fa-star yellow"></i></li>
                                        <li><i class="fa fa-star yellow"></i></li>
                                        <li><i class="fa fa-star-half-empty gray"></i></li>

                                    </ul>
                                    <p>
                                        Great service, i love this product.
                                    </p>
                                </div>
                            </div><!--review box end-->
                        </div><!--div-->
                        <div class="comment-form">
                            <h3 class="heading">Add Review</h3>
                            <div class="form-contact">
                                <form role="form">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="email" class="form-control" id="name" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="password" class="form-control" id="email" required="">
                                    </div>
                                    <div class="form-group">
                                        <label for="message">Comment</label>
                                        <textarea class="form-control" rows="7" id="message" required=""></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-theme-bg btn-lg pull-right">Comment</button>
                                </form>
                            </div>
                        </div><!--comment form end-->
                    </div>
                </div>

            </div>
        </div>

        <!--review and details end-->

    </div><!--products list columns end-->
    <div class="col-md-3">
        <div class="sidebar-info-box">
           <div class="services-box wow animated fadeInUp animated animated" style="visibility: visible;">
                <div class="services-box-icon">
                    <i class="fa fa-truck"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>Free Delivery</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                    </p>
                </div>
            </div>
        </div><!--sidebar info box-->
        <hr>
        <div class="sidebar-info-box">
           <div class="services-box wow animated fadeInUp animated animated" style="visibility: visible;">
                <div class="services-box-icon">
                    <i class="fa fa-gift"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>100% originals</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                    </p>
                </div>
            </div>
        </div><!--sidebar info box-->
        <hr>
        <div class="sidebar-info-box">
           <div class="services-box wow animated fadeInUp animated animated" style="visibility: visible;">
                <div class="services-box-icon">
                    <i class="fa fa-clock-o"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>30 days money back</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus.
                    </p>
                </div>
            </div>
        </div><!--sidebar info box-->
    </div>
</div>


</div>


