<% content_for :meta_tag do %>
    <title>Himeneu - <%= @provider.full_name %></title>
    <%= tag(:meta, name: "description", content: truncate(@provider.experience, length: 180)) %>
    <%= tag(:meta, name: "keywords", content: @provider.profession_list.join(' ,')) %>

    <meta property="og:site_name" content="Himeneu - <%= @provider.full_name %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Himeneu - <%= @provider.full_name %>">
    <meta property="og:description" content="<%= truncate(@provider.experience, length: 180) %>">
    <meta property="og:url" content="<%= provider_url(@provider) %>">
    <meta property="og:image" content="<%= @provider.image_url(:list) %>" />
    <meta property="og:image:width" content="370" />
    <meta property="og:image:height" content="270" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Himeneu - <%= @provider.full_name %>">
    <meta name="twitter:description" content="<%= truncate(@provider.experience, length: 180) %>">
    <meta name="twitter:url" content="<%= provider_url(@provider) %>">
    <meta name="twitter:site" content="@_himeneu" />
    <meta name="twitter:image" content="<%= @provider.image(:list).url %>"/>

    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "Website",
          "publisher": "Himeneu",
          "url": "<%= provider_url(@provider) %>",
          "description": "<%= truncate(@provider.experience, length: 180) %>"
      }
    </script>

<% end %>

<div class="divide60"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 margin20">
        <h3 class="heading"><%= @provider.full_name %></h3>
        <p>
          <%= @provider.experience %>
        </p>
        <p>
          <%= link_to t(:view_detail), new_user_session_path, :class => "btn border-black btn-lg"  %>
        </p>
    </div>
    <div class="col-md-6">
      <% if @provider.image? %>
        <%= image_tag @provider.image_url(:list),
        alt: @provider.full_name,
        :class => "img-responsive" %>
      <% else %>
        <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=400" class="img-responsive">
      <% end %>
    </div>
  </div>
</div>
 <div class="divide85"></div>

