<% content_for :meta_tag do %>
  <title>Himeneu - <%= @provider.full_name %></title>
  <meta name="description" content="<%= @provider.experience %>">
  <meta name="keywords" content="<%= @provider.profession_list.join(' ,') %>">
  <meta property="og:image" content="<%= @provider.image_url(:regular) %>" />
  <meta property="og:url" content="<%= provider_url(@provider) %>"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content='Himeneu - <%= @provider.full_name %>' />
  <meta name="twitter:description" content="Himeneu | <%= @provider.full_name %>" />
  <meta name="twitter:image" content="<%= @provider.image_url(:regular) %>" />
  <meta name="twitter:url" content="<%= provider_url(@provider) %>" />
<% end %>

<div class="container vCard">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 data">
      <div class="text-center">
        <% if @provider.image? %>
          <%= image_tag @provider.image_url(:thumb), :class => "img-circle" %>
        <% else %>
          <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
        <% end %>
      </div>
      <div class="user-head">
        <h3><%= @provider.first_name %></h3>
        <div class="hr-center"></div>
        <h5><%= @provider.last_name %></h5>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 content">
      <%= @provider.experience %>
      <p><strong>Serviço(s) oferecido(s): </strong>
        <% @provider.profession_list.each do |p| %>
         <span class="tags" ng-class"tags">
           <%= p %>
         </span>
        <% end %>
      </p>
      <p id="socialMedia"></p>
    </br>
    </div>
  </div>
</div>
