<!DOCTYPE html>
<html lang="en">
    <body>
        <!--navigation -->
<div class="search-area">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="input-group col-sm-6">
          <%= form_tag(search_providers_path, :method => "get", class: "search-widget", id: "q-form") do %>
            <div class="input-append">
              <%= text_field_tag :q, params[:q], class: " col-sm-5", placeholder: "Search provider" %>
              <span class="input-group-btn">
                  <button class="btn btn-theme-bg btn-lg" type="button" style="width: 32px; height: 30px;"><i class="fa fa-search" style="top: 8px; right: 4px; color: #FFF;"></i></button>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
        <div class="divide40"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="results-sidebar-box">
                        <h4>Related search</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Bootstrap template</a></li>
                            <li><a href="#">Admin template</a></li>
                            <li><a href="#">Responsive template</a></li>
                        </ul>
                        <hr>
                    </div><!--sidebar box of search results end-->
                    <div class="results-sidebar-box">
                        <h4>Hot topics</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Bootstrap </a></li>
                            <li><a href="#">Wrap bootstrap</a></li>
                            <li><a href="#">Assan template</a></li>
                        </ul>
                        <span class="view-all"><a href="#">View all</a></span>
                        <hr>
                    </div><!--sidebar box of search results end-->
                </div><!--search sidebar col end-->
                <div class="col-sm-9">
                    <!-- <span class="results-number">About 230,000 results (in 0.40 seconds)</span> -->
                    <% @providers.each do |provider| %>
                        <div class="results-box">
                            <h3><%= link_to provider.first_name + provider.last_name, provider  %><h3>
                            <ul class="filter list-inline" style="text-align: left; margin-bottom: 5px">
                              <% provider.profession_list.each do |profession| %>
                                <li style="padding-left: 0; padding-right: 0">
                                  <a href="#"><%= profession %></a>
                                </li>
                              <% end %>
                            <p>
                                <%= provider.experience %>
                            </p>
                        </div>
                       <hr>
                    <% end %>
                    <hr>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">»</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--search results container end-->
    </body>
</html>
