  <section>
    <div class="container">
      <div class="row header-profile">
        <div class="col-md-3">
          <div>
            <% if @provider.image? %>
               <%= image_tag @provider.image_url(:profile) %>
            <% else %>
               <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
            <% end %>
          </div>
          <div class='contact-info-box'>
            <div class="contact-info-box-header">
              <h2 class="h6">
                Meus contatos
              </h2>
            </div>
            <div class='contact-info-box-body'>
              <ul class='list-unstyled'>
                <li><i class='glyphicon glyphicon-phone'></i> <%= @provider.contact %></li>
                <li><i class='glyphicon glyphicon-envelope'></i> <%= @provider.email %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="profile-name">
            <h1 class="h2"> <%= @provider.full_name %> </h1>
          </div>
          <div class="profile-tags">
            <% @provider.profession.each do |p| %>
              <%= content_tag :button , :class => "btn btn-info btn-embossed btn-sm" do %>
                 <%= p.name %>
              <% end %>
            <% end %>
          </div>
          <div class="about-box">
            <div class="col-md-8 text-about">
              <p>
                <%= @provider.experience %>
              </p>
            </div>
            <div class="col-md-4">

            </div>
          </div>

          <div>
            <% @provider.feature_images.each do |i| %>
              <%= link_to image_tag(i.image_url(:thumb)),i.image_url, :id => 'single_image' %>
            <% end %>

          </div>





          <div>
           <%= form_for FeatureImage.new do |f| %>
             <%= f.file_field :image %>
             <%= f.hidden_field :provider_id, :value => @provider.id %>
             <%= f.submit %>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
