<% if can? :read, @provider %>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @provider.full_name %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
              <div class="col-md-3 col-lg-3 " align="center">
                <% if @provider.image? %>
                   <%= image_tag @provider.image_url(:thumb), :class => "img-circle" %>
                <% else %>
                   <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
                <% end %>
              </div>
              <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td><%= t(:profession) %></td>
                      <td><%= @provider.profession_list %></td>
                    </tr>
                    <tr>
                      <td>Hire date:</td>
                      <td>06/23/2013</td>
                    </tr>
                    <tr>
                      <td><%= t(:experience) %></td>
                      <td><%= @provider.experience %></td>
                    </tr>
                    <tr>
                      <td>Phone Number</td>
                      <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                      </td>
                    </tr>

                  </tbody>
                </table>

                <a href="#" class="btn btn-primary">Me interessa!</a>
                <a href="#" class="btn btn-primary">Pedir orçamento</a>
              </div>
            </div>
          </div>
          <div class="panel-footer">
                  <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                  <span class="pull-right">
                    <% if can? :update, @provider %>
                      <%= link_to edit_provider_path ,class: "btn btn-sm btn-warning" do %>
                        <i class="glyphicon glyphicon-edit" alt="t('links.edit')"></i>
                      <% end %>
                    <% end %>
                    <% if can? :destroy, @provider %>
                      <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                    <% end %>
                  </span>
          </div>
          <div>
              <h2>Endereços</h2>
              <% @provider.addresses.each do |address| %>
                  <div class="row" id="address_show">
                    <div class="col-md-12">
                       <div class="col-md-4">
                         <address>
                          <strong>Peggy Guggenheim Collection</strong><br>
                              <%= address.city %>, <%= address.zipcode %><br>
                              <abbr title="telefone">Fone:</abbr> <%= address.phone %>
                              <%= mail_to address.email, { class: "btn btn-sm btn-primary" } do %>
                                <i class="glyphicon glyphicon-envelope"></i>
                              <% end %>
                         </address>
                       </div>
                       <div id="map" class="col-md-8">
                          <%= image_tag "http://maps.google.com/maps/api/staticmap?size=300x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}" %>
                           </div>
                        </div>
                      </div>
              <% end %>
          </div>
      </div>
    </div>
  </div>

<% end %>

