<% if can? :read, @provider %>
	<div class="panel">
		<div class="panel">
		<div class="col-md-12">
	        <div class="col-md-8">
				<h3><%= @provider.full_name %></h3>
			    <dl class="dl-horizontal">
			        <dt><%= t(:experience) %></dt>
			        <dd><%= @provider.experience %></dd>
			        <dt><%= t(:profession) %></dt>
			        <dd><%= @provider.profession %></dd>
			    </dl>
	        </div>
	         <div class="col-md-4">
	    		<%= image_tag @provider.image_url(:thumb),  size: "304x236", :class => "img-thumbnail" if @provider.image? %>
	    	</div>
	    </div>
		<%= link_to t('links.edit'), edit_provider_path  %>
	</div>
	<h2>Endereços</h2>
	<% @provider.addresses.each do |address| %>
		<div class="row" id="address_show">
		  <div class="col-md-12">
		      <div class="col-md-4">
		        <address>
		        <strong></strong><br>
		            <%= address.city %>, <%= address.zipcode %><br>
		            <abbr title="telefone">Fone:</abbr> <%= address.phone %>
		            <p>Email: <%= mail_to address.email %></p>
		       </address>
		     </div>
		     <div id="map" class="col-md-8">
				<%= image_tag "http://maps.google.com/maps/api/staticmap?size=580x300&sensor=false&zoom=16&markers=#{address.latitude}%2C#{address.longitude}" %>

		     </div>
		  </div>
		</div>
	<% end %>
<% end %>


