<div class="panel">
	<div class="panel">
	<div class="col-md-12">
        <div class="col-md-10">
            <h5><%= @provider.last_name %></h5>
            <% if @provider.addresses %>
	            <% @provider.addresses.each do |address| %>
	                <address>
					  <%= address.city %><br>
					  <%= address.zipcode %><br>
					  <abbr title="telefone">Fone:</abbr> +5511009903989
					</address>
				<% end %>
			<% end %>
            <!-- Indeed it will become a contact form -->
            <p>Email<a href="mailto:blabla@bla.com?subject=Himeneu">email do bol</a>.</p>
        </div>
         <div class="col-md-2">
    		<%= image_tag @provider.image_url(:regular),:class => "img-thumbnail" if @provider.image? %>
    	</div>
    </div>
	<%= link_to t('links.edit'), edit_provider_path  %>
</div>
