<section id="address">
  <fieldset>
    <div class="form-group">
      <%= f.label t(:phone), :class => 'control-label col-lg-2' %>
      <%= f.telephone_field :phone, :class => 'form-control', :placeholder => t(:phone_hint) %>
    </div>
    <div class="form-group">
      <%= f.label t(:email), :class => 'control-label col-lg-2' %>
      <%= f.email_field :email, :class => 'form-control', :placeholder => t(:email_hint) %>
    </div>
    <div class="form-group">
      <%= f.label t(:city), :class => 'control-label col-lg-2' %>
      <%= f.text_field :city, :class => 'form-control', :placeholder => t(:city_hint) %>
    </div>
    <div class="form-group">
      <%= f.label t(:zipcode), :class => 'control-label col-lg-2' %>
      <%= f.text_field :zipcode, :class => 'form-control', :placeholder => t(:zipcode_hint) %>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.hidden_field :_destroy %>
        <%= link_to t('links.remove_address'), '#', :confirm => t('links.confirm') ,:onclick => "remove_address(this)", :class => 'btn btn-default' %>
        <div class="margin20"></div>
      </div>
    </div>
  </fieldset>
</section>
