<% content_for :meta_tag do %>
  <title>Himeneu - <%= t(:sign_up) %></title>
<% end %>
<div class="divide40"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 margin30">
      <h3 class="heading"><%= t(:welcome) %></h3>
      <p>
        <%= t(:create_account_text) %>
      </p>

      <div class="divide50"></div>
      <h3 class="heading"><%= t(:follow_us) %></h3>
      <ul class="list-inline social-1 reg-social">
        <li>
          <a  href="https://www.facebook.com/pages/Himeneu/939115852789044" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/_himeneu" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/100302642981170746824" target="_blank">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 sky-form-login-register v2">
      <div class="margin40">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => "sky-form", :id => "sky-form", :novalidate => "novalidate"}) do |f| %>
          <%= devise_error_messages! %>
          <h3 class="text-center"><%= t(:create_account_himeneu) %></h3>

            <fieldset>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-envelope-o"></i>
                  <%= f.text_field :email, placeholder: :email, autofocus: true %>
                  <b class="tooltip tooltip-bottom-right"><%= t(:reason_email) %></b>
                </label>
              </section>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                   <%= f.password_field :password, placeholder: t(:password), autocomplete: "off", :id => "password" %>
                  <b class="tooltip tooltip-bottom-right">
                    <% if @validatable %> (Minimo <%= @minimum_password_length %> digitos)<% end %>
                  </b>
                </label>
              </section>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                   <%= f.password_field :password_confirmation, placeholder: t(:repeat_password),
                    autocomplete: "off" %>
                  <b class="tooltip tooltip-bottom-right"><%= t(:repeat_password) %></b>
                </label>
              </section>
            </fieldset>

            <fieldset>

              <section>
                <label class="checkbox">
                  <input type="checkbox" name="terms" id="terms">
                   <i></i> <%= t(:create_account_agree) %>
                 </label>
              </section>
              <section>
                <%= render "devise/shared/links" %>
              </section>
            </fieldset>

            <footer>
              <%= f.submit t(:create_account).capitalize, :class => 'button' %>
            </footer>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
