<%= form_for @customer do |f| %>
	<div id="field">
		<%= f.label :fist_name %>
		<%= f.text_field :fist_name %>
	</div>
	<div id="field">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div id="field">
		<%= f.label :cpf %>
		<%= f.text_field :cpf %>
	</div>
	<div id="field">
		<%= f.label :age %>
		<%= f.text_field :age %>
	</div>
	<div id="field">
		<%= f.label :wedding_date %>
		<%= f.datetime_local_field  :wedding_date %>
	</div>
	<div id="actions">
		<%= submit_tag "Save" %>
	</div>
<% end %>