<%= render :partial => "shared/errors", :locals => {:errors => @customer.errors} %>

<%= form_for @customer, :html => { :class => "form-horizontal", :multipart => true} do |f| %>

	<div class="form-group">
	    <%= f.label t(:first_name), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :first_name, autofocus: true, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:last_name), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.text_field :last_name, :class => 'form-control' %>
	    </div>
  	</div>
	<div class="form-group">
	    <%= f.label t(:age), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.number_field :age, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group">
	    <%= f.label t(:image), :class => 'control-label col-lg-2' %>
	    <div class="col-lg-10">
	      <%= f.file_field :image, :class => 'form-control' %>
	    </div>
  	</div>
  	<div class="form-group" id="datetimepicker5">
	    <%= f.label t(:wedding_date), :class => 'control-label col-lg-2' %>
	    <div class='input-group date col-lg-10'>
	        <%= f.text_field :wedding_date,'data-date-format' => "DD/MM/YYYY",:class => 'form-control' %>
	        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	        </span>
	    </div>

  	</div>


   <%= f.fields_for :address  do |a| %>
	    <div class="form-group">
		    <%= a.label t(:city), :class => 'control-label col-lg-2' %>
		    <div class="col-lg-10">
		      <%= a.text_field :city, :class => 'form-control' %>
		    </div>
	  	</div>
	  	<div class="form-group">
		    <%= a.label t(:zipcode), :class => 'control-label col-lg-2' %>
		    <div class="col-lg-10">
		      <%= a.text_field :zipcode, :class => 'form-control' %>
		    </div>
	  	</div>
   <% end %>



	<div class="form-group">
	    <div class="col-lg-offset-2 col-lg-10">
	      <%= f.submit "Salvar", :class => 'btn btn-primary' %>
	      <%= link_to "Cancelar", root_path, :class => 'btn btn-default' %>
	    </div>
  	</div>

<% end %>