<% if can? :read, @customer %>
    <div class="panel">
    	<div class="col-md-12">
            <div class="col-md-8">
                <h5><%= @customer.full_name %></h5>
                <% if @customer.address %>
                    <address>
    				  <%= @customer.address.city %><br>
    				  <%= @customer.address.zipcode %><br>
    				  <abbr title="<%= t(:phone) %>"><%= t(:phone) %></abbr> <%= @customer.address.phone %>
                       <p><%= t(:email) %> <%= mail_to @customer.address.email %>.</p>
    				</address>
                    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@customer.address.latitude}%2C#{@customer.address.longitude}" %>
    			<% end %>
                <!-- Indeed it will become a contact form -->

            </div>
             <div class="col-md-4">
                <% if @customer.image_processing %>
                     <%= image_tag('loading.gif', class: "img-responsive") %>
                <% else %>
            		<%= image_tag @customer.image_url(:thumb),  size: "304x236", :class => "img-thumbnail" if @customer.image? %>
                <% end %>
        	</div>
        </div>
    	<%= link_to t('links.edit'), edit_customer_path  %>
    </div>
<% end %>