<% if can_read_customers? || can_manage_customer?(@customer) %>

<!-- Modal -->
<div class="modal fade"
     id="responseModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="responseModalLabel"
     data-param= <%=@customer.slug  %>
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="responseModalLabel">Resposta Orçamento</h4>
      </div>
      <form ng-controller="EstimateCtrl" ng-submit="update()">
        <div class="modal-body">
         <wysiwyg textarea-id="description"
                  textarea-class="form-control"
                  textarea-height="150px"
                  textarea-name="textareaDescription"
                  textarea-required
                  ng-model="estimate.response"
                  enable-bootstrap-title="true" >
         </wysiwyg>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('links.close') %></button>
          <input type="submit" id="submit" class="btn btn-primary" value="<%= t('links.save') %>" />
        </div>
       </form>
    </div>
  </div>
</div>



<div class="row">
     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
         <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= @customer.full_name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <% if @customer.image? %>
                          <img class="profile_image lazy" data-original="<%= @customer.image_url(:thumb) %>" width="140" heigh="140"> </img>
                          <noscript>
                           <%= image_tag @customer.image_url(:thumb), :class => "profile_image" %>
                          </noscript>
                        <% else %>
                           <img alt="image" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
                        <% end %>
                    </div>
                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td><%= t(:address) %></td>
                              <td><%= @customer.city %>,<%= @customer.state %>, <%= @customer.zipcode  %></td>
                            </tr>
                            <tr>
                              <td><%= t(:wedding_date) %></td>
                              <td><%= distance_of_time_in_words(Time.now,@customer.wedding_date) %></td>
                            </tr>
                            <% if get_interest(@customer) == "negotiating" %>
                              <tr>
                                <td><%= t(:phone) %></td>
                                <td><%= @customer.phone %><br><br>
                                </td>
                              </tr>
                            <% end %>
                            <% if verify_estimate(@customer, current_user) %>
                              <tr>
                                <td>
                                  <%= link_to "Resposta Orçamento", "",:class=>"btn btn-primary", :id => 'resposta' %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="height:43px">
                <span class="pull-right">
                    <% if can_manage_customer? @customer %>
                      <%= link_to edit_customer_path(@customer.slug) ,class: "btn btn-sm btn-warning" do %>
                        <i class="glyphicon glyphicon-edit" data-original-title="<%= t('links.edit') %>" data-toggle="tooltip"  ></i>
                      <% end %>
                      <%= delete_or_recovery(@customer) %>
                    <% end %>
                </span>
            </div>
            <div class="row" id="address_show">
                <div class="col-md-12">
                      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x300&sensor=false&zoom=16&markers=#{@customer.latitude}%2C#{@customer.longitude}" %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
