<div class="panel">
	<%= @customer.last_name %>
	<%= image_tag @customer.image_url(:thumb) if @customer.image? %>
	<%= image_tag @customer.image_url(:regular) if @customer.image? %>
	
	
	<%= link_to t('links.edit'), edit_customer_path  %>
	<%= direct_upload_form_for @uploader do |f| %>
	  <%= f.file_field :image, :class => 'form-control' %>
	  <%= f.submit t(:upload_image) %>
    <% end %>
</div>