<% if can_read_customers? || can_manage_customer?(@customer) %>

  <div id="header-top" class="hidden-xs">
    <div class="container">
    </div>
</div><!--top bar end hidden in small devices-->
<!--navigation -->
<!-- Static navbar -->

<div class="divide60"></div>

<div class="container" ng-controller="CustomerCtrl" data-param= <%=@customer.slug %> id="showCustomer">
    <div class="row">
        <div class="col-md-9 margin30">
            <div class="row">
                <div class="col-sm-5 margin30">
                    <div class="detail-img-col">
                        <a href="" class="show-image">
                            <img src="{{customer.image.regular.url}}" alt="">
                        </a>
                        <div class="divide15"></div>

                    </div>
                </div><!--product detail img col end-->

                <div class="col-sm-7">
                    <div class="detail-content-right">
                        <h3 class="title">
                            {{full_name}}
                            <% if can_manage_customer? @customer %>
                              <%= link_to edit_customer_path(@customer.slug) do %>
                                <i class="glyphicon glyphicon-pencil profile-glyphicon" data-original-title="<%= t('links.edit') %>" data-toggle="tooltip" ></i>
                              <% end %>
                              <%= delete_or_recovery(@customer) %>
                        <% end %>
                        </h3>
                        <h4>Sobre meu casamento:</h4>
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td><%= t(:city) %></td>
                               <td>{{customer.address.city}}</td>
                            </tr>
                            <tr>
                              <td><%= t(:wedding_date) %></td>
                              <td>{{customer.wedding_date | date : format : timezone}}</td>
                            </tr>
                            <% if get_interest(@customer) == "negotiating" %>
                              <tr>
                                <td><%= t(:phone) %></td>
                                <td>{{customer.phone}}<br><br>
                                </td>
                              </tr>
                            <% end %>
                            <% if verify_estimate(@customer, current_user) %>
                              <tr>
                                <td>
                                  <%= link_to "Resposta Orçamento", "",:class=>"btn btn-primary", :id => 'resposta' %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div><!--product details up end-->
            <hr>
        </div><!--products list columns end-->
        <div class="col-md-3">
        </div>
        </div>
    </div>
    <div class="divide50"></div>
</div><!--shop columns container end-->


<div class="divide30"></div>

<% end %>
