<% if can_read_customers? || ( can_manage_customer?(@customer) && !is_deleted? )%>

<!-- Modal -->
<div class="modal fade"
     id="responseModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="responseModalLabel"
     data-param= <%=@customer.slug  %>
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="responseModalLabel">Resposta Orçamento</h4>
      </div>
      <form ng-controller="EstimateCtrl" ng-submit="update()">
        <div class="modal-body">
         <wysiwyg textarea-id="description"
                  textarea-class="form-control"
                  textarea-height="150px"
                  textarea-name="textareaDescription"
                  textarea-required
                  ng-model="estimate.response"
                  enable-bootstrap-title="true" >
         </wysiwyg>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('links.close') %></button>
          <input type="submit" id="submit" class="btn btn-primary" value="<%= t('links.save') %>" />
        </div>
       </form>
    </div>
  </div>
</div>


<div class="divide60"></div>

<div class="container" ng-controller="CustomerCtrl" data-param= "<%=@customer.slug %>" id="showCustomer">
    <div class="row">
        <div class="col-md-9 margin30">
            <div class="row">
                <div class="col-sm-5 margin30">
                    <div class="detail-img-col">
                            <img src="{{customer.image.regular.url}}" alt="">
                        <div class="divide15"></div>

                    </div>
                </div><!--product detail img col end-->

                <div class="col-sm-7">
                    <div class="detail-content-right">
                        <h3 class="title">
                            {{full_name}}
                            <span>
                                <% if can_manage_customer? @customer %>
                                  <%= link_to edit_customer_path(@customer.slug) do %>
                                    <span class="h6"><%= t('links.edit') %></span>
                                  <% end %>
                                <% end %>
                            </span>
                        </h3>

                        <h4><%= t('customers.about_my_wedding') %></h4>
                        <table class="table table-user-information">
                          <tbody>
                            <tr>
                              <td><%= t(:city) %></td>
                               <td>{{customer.address.city}}</td>
                            </tr>
                            <tr>
                              <td><%= t('customers.wedding_date') %></td>
                              <td>{{customer.wedding_date | date : format : timezone}}</td>
                            </tr>

                            <% if verify_estimate(@customer, current_user) %>
                            <tr>
                              <td><%= t(:phone) %></td>
                              <td>{{customer.phone}}<br><br>
                              </td>
                            </tr>
                              <tr>
                                <td>
                                  <%= link_to "Resposta Orçamento", "",:class=>"btn btn-primary", :id => 'resposta' %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div><!--product details up end-->
            <hr>
        </div><!--products list columns end-->
        <div class="col-md-3">
        </div>
        </div>
    </div>
    <div class="divide50"></div>
</div><!--shop columns container end-->


<div class="divide30"></div>

<% elsif can_manage_customer(@customer) %> %>
    <div class="row voffset6 margin40">
        <div class="text-center">
            <h3><%= t(:deactivated_profile_message) %></h3>
            <%= delete_or_recovery(@customer) %>
        </div>
    </div>
<% end %>
