<% content_for :meta_tag do %>
  <title>Himeneu - <%= t(:login) %></title>
<% end %>

  <div class="divide40"></div>

    <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3 sky-form-login-register">
            <div class="margin40">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "sky-form", :id => "sky-form"}) do |f| %>

                <h3 class="text-center"><%= t(:login_account) %></h3>
                  <fieldset>
                    <section>
                      <div class="row">
                        <label class="label col col-4">Email</label>
                          <div class="col col-8">
                            <label class="input">
                              <i class="icon-append fa fa-user"></i>
                              <%= f.email_field :email, autofocus: true, placeholder: "email" %>
                            </label>
                          </div>
                      </div>
                    </section>

                    <section>
                      <div class="row">
                        <label class="label col col-4"><%= t(:password) %></label>
                        <div class="col col-8">
                          <label class="input">
                            <i class="icon-append fa fa-lock"></i>
                            <%= f.password_field :password, autocomplete: "off", placeholder: t(:password) %>
                          </label>
                          <div class="note">
                            <a href="#sky-form2" class="modal-opener"><%= t(:forgot_password) %></a>
                          </div>
                        </div>
                      </div>
                    </section>
                    <% if devise_mapping.rememberable? -%>
                      <section>
                        <div class="row">
                          <div class="col col-4"></div>
                          <div class="col col-8">
                            <label class="checkbox">
                              <%= f.check_box :remember_me %><i></i><%= t(:remember_me) %>
                            </label>
                          </div>
                        </div>
                      </section>
                    <% end %>
                  </fieldset>
                  <footer class="text-right">
                    <%= link_to t(:sign_up), new_registration_path(resource), :class => "btn btn-link" %>
                    <%= f.submit t(:login).capitalize, class: "btn btn-theme-bg btn-lg" %>
                  </footer>
                <% end %>
              </div><!--login form wrap end-->
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "sky-form sky-form-modal", :id => "sky-form2" }) do |f| %>
                <%= devise_error_messages! %>
                <header><%= t(:forgot_password) %></header>
                <fieldset>
                  <section>
                    <label class="label">E-mail</label>
                    <label class="input">
                      <i class="icon-append fa fa-envelope-o"></i>
                      <%= f.email_field :email, autofocus: true, :class => "form-control", placeholder: t(:email_hint)  %>
                    </label>
                  </section>
                </fieldset>
                <footer>
                  <%= f.submit t(:resend_password), class: "button"  %>
                  <a href="#" class="button button-secondary modal-closer"><%= t('links.close') %></a>
                </footer>

              <% end %>

            </div>
          </div>
        </div>
        <div class="social-login-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="row social-login">
                            <div class="col-sm-12">
                                <div class="border-rits">
                                    <span>or</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> Login with facebook</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-lg btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--social login wrapper-->


<!-- <div class="container-fluid">
   <div class="row">
      <div class="col-md-7 col-md-offset-3">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <strong class=""><%= t(:sign_in) %></strong>
              </div>
              <div class="panel-body">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
                      <div class="form-group">
                          <label for="email" class="col-sm-2 control-label">Email</label>
                          <div class="col-sm-9">
                              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "email"%>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="password" class="col-sm-2 control-label">
                              <%= t(:password) %>
                          </label>
                          <div class="col-sm-9">
                              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t(:password) %>
                          </div>
                      </div>
                      <% if devise_mapping.rememberable? -%>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <div class="checkbox">
                                      <label class="">
                                          <%= t(:remember_me) %>
                                          <%= f.check_box :remember_me %>
                                      </label>
                                  </div>
                              </div>
                          </div>
                      <% end %>
                      <div class="form-group last">
                          <div class="col-sm-offset-2 col-sm-10">
                              <%= f.submit t(:login).capitalize, class: "btn btn-success btn-sm" %>
                              <button type="reset" class="btn btn-default btn-sm"><%= t('links.cancel') %></button>
                          </div>
                      </div>
                  <% end %>
              </div>
              <div class="panel-footer">
                  <%= render "devise/shared/links" %>
              </div>
          </div>
      </div>
  </div> -->
<!-- </div> -->




