<!DOCTYPE html>
<html>
<head>
  <title>Himeneu</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% if alert %>
    	<p class="alert"><%= alert %></p>
    <% end %>
	<div class="container">
		 <% if can? :manage, @users %>
		 	shit
		 <% end %>
		<% if user_signed_in? %>
			<%= link_to "Edit profile", edit_user_registration_path %>
			<%= link_to "Logout", destroy_user_session_path,  method: :delete %>
		<% end %>
		<div class="row">
			<%= yield %>
		</div>
	</div>
	

</body>
</html>
