<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ONLab">

    <meta name="msvalidate.01" content="7E18800C43DF85C72AA2B64038A26451" />
    <% if content_for?(:meta_tag) %>
      <%= yield(:meta_tag) %>
    <% end %>
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="App" class='<%= controller.controller_name %> '>
  <div class='notifications top-right'></div>
  <div id="header-top">
    <div class="container">
      <div class="top-bar">
        <div class="pull-left sample-1right hidden-xs">
          <a><i class="fa fa-phone"></i> Call us: <span class="colored-text">+02 34543454</span> </a>
          <a><i class="fa fa-envelope"></i> Mail us: <span class="colored-text">contato@himeneu.com</span> </a>
        </div>
        <div class="pull-right">
        </div>
      </div>
    </div>
  </div>


     <!-- Navigation -->
    <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to root_path, :class => "navbar-brand" do %>
                    <%= image_tag("logo_himeneu.png", class: "logo-navbar") %>
                <% end %>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if  user_signed_in?  %>
                        <% if current_user.is_completed %>
                            <% if can? :search, Customer %>
                              <li><%= link_to customers_path do %>
                                     <%= t(:bride) %>
                                     <i class="fa fa-heart"></i>
                                  <% end %>
                              </li>
                            <% end %>
                            <% if can? :search, Provider %>
                              <li><%= link_to providers_path do %>
                                      <%= t(:workers) %>
                                      <i class="fa fa-users"></i>
                                  <% end %>
                              </li>
                            <% end %>
                        <% end %>
                        <li><%= link_to redirect_to_profile do %>
                                <%= t(:my_profile) %>
                                <span class="glyphicon glyphicon-user"></span>
                            <% end %>
                        </li>
                        <li><%= link_to destroy_user_session_path,  method: :delete do %>
                                <%= t(:logout).capitalize %>
                                <span class="glyphicon glyphicon-off"></span>
                            <% end %>
                        </li>
                    <% else %>
                        <li class="dropdown active "><%= link_to 'Contato', dashboard_path+"#contato"%></li>
                        <li class="dropdown"><%= link_to t(:sign_up).capitalize, new_user_registration_path %></li>
                        <li class="dropdown">
                            <a href="#" class=" dropdown-toggle" data-toggle="dropdown">
                              <i class="fa fa-lock"></i> <%= t(:login).capitalize %>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                             <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                                <h4><%= t(:login).capitalize %></h4>
                                <div class="form-group">
                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "email"%>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t(:password) %>
                                    </div>
                                    <% if devise_mapping.rememberable? -%>
                                        <div class="checkbox pull-left">
                                          <div class="checkbox pull-left">
                                            <label>
                                              <%= t(:remember_me) %>
                                              <%= f.check_box :remember_me %>
                                           </label>
                                           </div>
                                        </div>
                                    <% end %>
                                    <%= f.submit t(:login).capitalize, class: "btn btn-theme-bg pull-right" %>
                                    <!--                                        <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
                                    <div class="clearfix"></div>
                                    <hr>
                                    <p><%= render "devise/shared/links" %></p>
                                </div>
                              <% end %>
                            </div>
                          </li>
                    <% end %>
                </ul>
            </div>

        </div>




    </div>


  <% if flash[:notice] %>
     <%= content_tag "script", id: "msg",type: "text/javascript",data: flash[:notice] do %>
       var msg = $('#msg').attr('data');
       showFlashMessage(msg, 'bangTidy', 3000);
     <% end %>
  <% end %>

  <% if flash[:alert] %>
    <%= content_tag "script", id: "msg",type: "text/javascript",data: flash[:alert] do %>
       var msg = $('#msg').attr('data');
       showFlashMessage(msg, 'danger', 3000);
     <% end %>
  <% end %>

  <% if user_signed_in? && !current_user.is_completed %>
     <%= content_tag "script", id: "acc",type: "text/javascript",data: t(:completed_account_msg) do %>
       var msg = $('#acc').attr('data');
       showFlashMessage(msg, 'success', 5000);
     <% end %>
  <% end %>


	<%= yield %>

  <section id="contato" class="footer-section">
    <footer  class="footer clearfix">
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <p class="muted credit">
                    Copyright © Himeneu <%= Time.now.year %>. All right reserved.
                  </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 text-center hidden-xs">
                    <a href="/privacy">Politica de privacidade</a>
                </div>
               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-right">
                  <div class="pull-right">
                      <span class="glyphicon glyphicon-envelope"></span>
                        contato@himeneu.com
                  </div>
                </div>
            </div>
        </div>
    </footer>
  </section>
  <% if Rails.env.production? %>
    <script async>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59347506-1', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
</body>
</html>
